.carousel {
  position: relative;
  width: 300px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;

}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  z-index: 1000;
}

.left-arrow { left: 0; }
.right-arrow { right: 0; }

.dots {
  text-align: center;
  padding: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: black;
}


.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.draggable-box {
  position: absolute;
  width: 150px;
  height: 100px;
  background-color: purple;
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  border-radius: 10px;
  user-select: none;
}